<h1>New device</h1>

<%= form_for(@device) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :serial %><br />
    <%= f.email_field :serial %>
  </p>
  <p>
    <%= f.label :pid %><br />
    <%= f.text_field :pid, required: true %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', devices_path %>