


<h1><%= @title = "Find Your Kindle's PID (Personal ID)" %></h1>

<p>This form also works for the Kindle iPhone/iPad application.</p>


<% form_remote_tag(:url => {:action => 'calculate_pid'}, :update => "results", :position => :top,
 :loading => "Element.show('spinner')", :complete => "Element.hide('spinner')",
 :html => {:id => 'calculate_pid_form'}) do %>
<div><label>Optional Email</label> <%= text_field "device", "email" %><div class="instruction">Your real email address, <em>not</em> your @kindle.com address.</div>
</div>
<div><label>Reader Serial</label> <%= text_field "device", "serial" %><div class="instruction"><%= link_to 'How do I find this?', :action => 'instructions' %></div>
</div>
<div><label></label><%= submit_tag 'Calculate' %></div>
<% end %>

<div id="results">
	
</div>


<h1><em>Please</em> Support This Site!</h1>

<p>This site is developed and maintained for <em>free</em> to save your valuable time. Please please <em>please</em> support the site maintainers, Amazon and publishers simultaneously: <a href="http://www.amazon.com/wishlist/10V5YNMG4VOED">donating something from this wish list</a>!</p>

<p><a href="http://www.amazon.com/wishlist/10V5YNMG4VOED">Donate something here!</a></p>

<div id="wishlist">
	<SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822/US/prestoncom-20/8004/49cd5000-bb01-497b-b5a4-929909b1af0a"> </SCRIPT> <NOSCRIPT><A HREF="http://ws.amazon.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fprestoncom-20%2F8004%2F49cd5000-bb01-497b-b5a4-929909b1af0a&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
</div>