<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
		Kindle Tools <%= " :: #{h(@title)}" if @title %>
	</title>
	<meta name="description" content="<%= @meta_description.nil? ? "Find your Amazon Kindle's PID using the device serial number using this site." : @meta_description %>" />
	<meta name="keywords" content="<%= @meta_keywords.nil? ? "amazon, kindle, pid, books, drm, mobipocket, azw, hacking, preston lee" : @meta_description %>" />
  <%= stylesheet_link_tag 'reset', 'default' %>
  <%= javascript_include_tag :defaults %>
	
  <%= csrf_meta_tag %>
</head>
<body>

<div id="everything">
	
	<div id="title"><%= link_to 'Kindle Tools', :controller => 'welcome' %></div>
	
	<div id="content_top">&nbsp;</div>
	
	<div id="content_middle">
	
 	   <ul id="navigation">	
 	   	<li><%= link_to "PID Finder", :controller => 'welcome', :action => 'index' %></li>
 	   	<li><%= link_to "Serial Numbers", :controller => 'welcome', :action => 'instructions' %></li>
 	   	<li><%= link_to "About", :controller => 'welcome', :action => 'about' %></li>
 	   </ul>
 	

 	
 	   <div id="page">
			<div id="flash">
		      <% flash.each do |key, value| -%>
		        <div id="flash_<%= key %>"><%=h value %></div>
		      <% end -%>
		    </div>
			<%= yield  %>
			
			
			<h1>Discuss</h1>
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			  /**
			    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
			    */
			  (function() {
			   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			   dsq.src = 'http://kindletools.disqus.com/embed.js';
			   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			  })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=kindletools">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

 	   </div>
 	   
 	   <div id="footer">
 	   	<p>Kindle Tools © <%= Time.now.year %> <a href="http://www.prestonlee.com">Preston Lee</a>. All rights reserved.</p>
 	   </div>
	</div>
	<div id="content_bottom">&nbsp;</div>
	
</div>

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1395497-4");
pageTracker._trackPageview();
} catch(err) {}</script>

<!-- Disqus comments. -->
<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
	document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/kindletools/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>

</body>
</html>
